
<%= form_for @document do |f| %>
   	<%= f.error_messages %>
   	<div><%= f.text_field :name %></div>
   	
   	<%= f.fields_for :sections do |builder| %> 
   		<div><%= builder.text_field :name %></div>
   		<div><%= builder.select :content_ids, Content.all.collect {|p| [ p.name, p.id ] },{:prompt => "Please Select"}, {:class => "nhs_select", :multiple => true}  %></div>
   <% end %>
   <%= f.submit :submit%>
<% end %>